*.pyc
./exchange/webexchange/__pycache__/*.pyc
./exchange/webexchange/migrations/__pycache__/*.pyc
./exchange/webexchange/views/__pycache__/*.pyc
./exchange/exchange/__pycache__/*.pyc
./temp_code/__pycache__/*.pyc