/* 清除默认的浏览器样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hiragino Sans GB, MicroSoft YaHei;
}


body {
  margin: 0;
  padding: 0;
  background-color: #999;

}

.body {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 导航样式 */
nav {
  text-align: center;
  background-color: #fff;
  color: #333;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: #333;
  background-color: #999;
  background-color: #fff;
}

nav li {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;

}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: #333;
  transition: 0.3s ease-in-out;
}

nav a:hover {
  color: #fff;
  background-color: #333;
}


select {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  border-style: none;
  outline: none;
  transition: 0.3s ease-in-out;
  padding-right: 10px;
}

option {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  border-style: none;
  outline: none;
  transition: 0.3s ease-in-out;
  padding-right: 10px;
}

select:hover {
  cursor: pointer;
  color: #fff;
  background-color: #333;
}

select:focus-visible {
  cursor: pointer;
  color: #fff;
  background-color: #333;
}

coin-type select, chain-type select {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  border-style: none;
  outline: none;
  transition: 0.3s ease-in-out;
  padding-right: 10px;
}

coin-type select:hover, chain-type select:hover {
  cursor: pointer;
  color: #fff;
  background-color: #999;
}

coin-type select:focus-visible, chain-type select:focus-visible {
  cursor: pointer;
  color: #fff;
  background-color: #999;
}

coin-type option, chain-type option {
  text-align: left;
}

wallet-address {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

wallet-address * {
  width: 100%;
  height: 100%;
}

.ewtitle {
  font-size: 15px;
  font-weight: bold;
}

.ewtitle div {
  font-weight: normal;
}

#send-out-wallet-address,
#send-in-wallet-address {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wallet-content {
  display: block;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  overflow: hidden;
}


.wallet-content wallet,
.wallet-content chain,
.wallet-content coin {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.wallet-content wallet {
  border-bottom: 1px solid #ddd;
}

.wallet-content coin {
  border-bottom: 1px solid #ddd;
}

.wallet-content chain {
  border-bottom: 1px solid #ddd;
}

.wallet-content wallet-title,
.wallet-content chain-type-title,
.wallet-content coin-type-title,
.wallet-content amount-title {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}

#buttons {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  width: 75%;
}

#buttons button {
  background-color: #fff;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 10px;
  margin: 5px 20px;
  transition: 0.3s ease-in-out;
}

#buttons button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

wallet-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

wallet-block * {
  width: 75%;
}

.wallet-content coin-type,
.wallet-content chain-type,
.wallet-content coin-amount {
  display: flex;
  gap: 10px;
  align-items: center;
}

.wallet-content coin-type select,
.wallet-content chain-type select,
.wallet-content coin-amount input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.wallet-content #buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

#log-btn {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #333;
}

#log-btn:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

wallet {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

wallet * {
  margin: auto;
  width: 95%;
}

coin {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

coin * {
  margin: auto;
  width: 95%;
}

chain {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

chain * {
  margin: auto;
  width: 95%;
}

.content-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #fef;
  margin-bottom: 50px;
}