<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/asset/asset.js' %}"></script>
    <script src="{% static '/lib/fnlib.js' %}"></script>
    <link rel="stylesheet" href="{% static '/asset/style.css' %}">
    <title>Asset</title>
</head>

<body>
    <nav class="n1">
        <ul>
            <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
            <li><a id="exchanges" href="{% url 'exchange' %}">Exchanges</a></li>
            <li><a id="swap" href="#">Swap</a></li>
            <li> <label for="exchange-dropdown">USD</label>
                <select id="exchange-dropdown">
                    <option value="">Select an exchange</option>
                    <option value="binance">USD</option>
                    <option value="coinbase">JPY</option>
                    <option value="kraken">KRW</option>
                </select>
            </li>
            <li>
                <label for="exchange-dropdown">English</label>
                <select id="exchange-dropdown">
                    <option value="">Select an exchange</option>
                    <option value="binance">English</option>
                    <option value="coinbase">简体中文</option>
                    <option value="kraken">한국어</option>
                </select>
            </li>
            <li><a id="index" href="{% url 'main' username=username %}" method="GET">Home</a></li>
            <li id="user-info">
                <div>User Name : {{ username }} </div>
                <a href="{% url 'usercenter' username=username %}" method="GET"> User Center </a>
            </li>
        </ul>
    </nav>
    <div>
        <h1>Asset</h1>
        <h3 id="user-name">{{ username }}</h3>
        <div>
            <nav class="n2">
                <ul>
                    <li><a href="{% url 'main' username=username %}">Main</Main></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <table id="wallet_list">
        <tr id="thead-row">
            <th>Wallet</th>
            <th>Chain</th>
            <th>Coin Type</th>
            <th>Amount</th>
            <th>Vertify</th>
            <th>Status</th>
        </tr>
        <tr id="tdata-row">
            <td id="wallet_ID"></td>
            <td id="chain"></td>
            <td id="coin_type"></td>
            <td id="amount"></td>
            <td><button id="verify_btn" name="verify">{% csrf_token %}Verify</button></td>
            <td id="status"></td>
        </tr>
    </table>
</body>

</html>