<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/lib/fnlib.js' %}"></script>
    <script src="{% static '/asset/asset.js' %}"></script>
    <link rel="stylesheet" href="{% static '/asset/style.css' %}">
    <title>Asset</title>
</head>

<body>
    {% csrf_token %}
    <nav>
        <ul>
            <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
            <li><a id="trade" href="{% url 'trade' username=username %}">Trade</a></li>
            <li><a id="proof" href="{% url 'proof' %}">Proof</a></li>
            <li>
                <select id="currency">
                    <option value="binance">USD</option>
                    <option value="coinbase">JPY</option>
                    <option value="kraken">KRW</option>
                </select>
            </li>
            <li>
                <select id="language">
                    <option value="English">English</option>
                    <option value="Chinese">简体中文</option>
                    <option value="Korean">한국어</option>
                </select>
            </li>
            <li><a id="index" href="{% url 'index' %}" method="GET">Home</a></li>
            <li>
                <div id="username">{{ username }} </div>
            </li>
            <li id="user-info">
                <a href="{% url 'usercenter' username=username %}" method="GET">User Center</a>
                <a href="{% url 'login' %}">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="verify">
        <button id="verify">Click Here To Verify Asset</button>
    </div>
    <main>
        <table>
            <thead>
                <tr id="thead-row">
                    <th>Chain</th>
                    <th>Coin Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody id="asset-tbody">
            </tbody>
        </table>
    </main>
    <div class="result-parent"></div>
</body>
</html>