<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Exchange</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% load static %}
  <script src="{% static '/exchange/exchange.js' %}"></script>
  <script src="{% static '/lib/fnlib.js' %}"></script>
  <link rel="stylesheet" href="{% static '/exchange/style.css' %}">
  
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
        <li><a id="exchanges" href="{% url 'exchange' %}">Exchanges</a></li>
        <li><a id="swap" href="#">Swap</a></li>
        <li> <label for="exchange-dropdown">USD</label>
          <select id="exchange-dropdown">
            <option value="">Select an exchange</option>
            <option value="binance">USD</option>
            <option value="coinbase">JPY</option>
            <option value="kraken">KRW</option>
          </select>
        </li>
        <li>
          <label for="exchange-dropdown">English</label>
          <select id="exchange-dropdown">
            <option value="">Select an exchange</option>
            <option value="binance">English</option>
            <option value="coinbase">简体中文</option>
            <option value="kraken">한국어</option>
          </select>
        </li>
        <!-- <li><a id="english" href="#">English</a></li> -->
      </ul>
    </nav>
    <div>
      <div class="market-info">
        <div class="market-info-item">
          <div class="market-info-title">ㅡ面值</div>
          <div class="market-info-value" id="market-cap">$1.19T</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">成交量</div>
          <div class="market-info-value" id="exchange-vol">$35.04B</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">ASSETS</div>
          <div class="market-info-value" id="assets">2,295</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">EXCHANGES</div>
          <div class="market-info-value" id="exchanges">73</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">MARKETS</div>
          <div class="market-info-value" id="markets">12,563</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">BTC 统治指数</div>
          <div class="market-info-value" id="btc-dom-index">45.6%</div>
        </div>
      </div>
    </div>
  </header>
  <main>
    {% csrf_token %}
    <div>
      <table id="coin-item">
        <tr class="thead">
          <th>排名</th>
          <th>名称</th>
          <th>价格</th>
          <th>市值</th>
          <th>VWAP(24小时)</th>
          <th>供应量</th>
          <th>量(24小时)</th>
          <th>Change(24小时)</th>
        </tr>
      </table>
    </div>
  </main>
</body>

</html>