<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/lib/fnlib.js' %}"></script>
    <script src="{% static '/login/login.js' %}"></script>
    <link rel="stylesheet" href="{% static '/login/style.css' %}">
    <title>Login</title>
</head>

<body>
    {% csrf_token %}
    <nav>
        <ul>
            <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
            <li><a id="trade" href="{% url 'trade' username='james' %}">Trade</a></li>
            <li><a id="proof" href="{% url 'proof' username='james' %}">Proof</a></li>
            <li id>
                <select id="currency">
                    <option value="binance">USD</option>
                    <option value="coinbase">JPY</option>
                    <option value="kraken">KRW</option>
                </select>
            </li>
            <li>
                <select id="language">
                    <option value="English">English</option>
                    <option value="Chinese">简体中文</option>
                    <option value="Korean">한국어</option>
                </select>
            </li>
            <li><a id="index" href="{% url 'index' %}" method="GET">Home</a></li>
        </ul>
    </nav>
    <div class="shangbutitle" class="titleshangbu">
        <h1 id="title" class='title'>
            <div class="title1">Choose the platform / Buy / Trade and hold over cryptocurrencies</div>
        </h1>
        <form method="post">
            <div id="user-title">User</div>
            <input type="text" id="username">
            <br>
            <div id="password-title">Password</div>
            <input type="password" id="userpassword" autocomplete="off">
            <br>
            <div class="button">
                <button id="submit" name="submit">Submit</button>
                <button id="register" name="register">Register</button>
                <button id="cancel" name="cancel">Cancel</button>
            </div>
        </form>
    </div>
</body>

</html>