<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Market</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	{% load static %}
	<script src="{% static '/market/market.js' %}"></script>
	<script src="{% static '/lib/fnlib.js' %}"></script>
	<link rel="stylesheet" href="{% static '/market/style.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a id="coin" href="#">Coins</a></li>
        <li><a id="exchanges" href="#">Exchanges</a></li>
        <li><a id="swap" href="#">Swap</a></li>
        <li><a id="usd" href="#">USD</a></li>
        <!-- <li><a id="english" href="#">English</a></li> -->
      </ul>

    </nav>
    <div>
      <div class="market-info">
        <div class="market-info-item">
          <div class="market-info-title">MARKET CAP</div>
          <div class="market-info-value" id="market-cap">$1.19T</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">EXCHANGE VOL</div>
          <div class="market-info-value" id="exchange-vol">$35.04B</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">ASSETS</div>
          <div class="market-info-value" id="assets">2,295</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">EXCHANGES</div>
          <div class="market-info-value" id="exchanges">73</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">MARKETS</div>
          <div class="market-info-value" id="markets">12,563</div>
        </div>
        <div class="market-info-item">
          <div class="market-info-title">BTC DOM INDEX</div>
          <div class="market-info-value" id="btc-dom-index">45.6%</div>
        </div>
      </div>
    </div>

    <nav>
      <ul>
        <nav>
          <ul>
            <li><a href="#">Rank</a></li>
            <li><a href="#">Name</a></li>
            <li><a href="#">Price</a></li>
            <li><a href="#">Market Cap</a></li>
            <li><a href="#">VWAP(24Hr)</a></li>
            <li><a href="#">Supply</a></li>
            <li><a href="#">Volume(24Hr)</a></li>
            <li><a href="#">Change(24h)</a></li>
          </ul>
        </nav>
        <div id="items">
          <ul></ul>
        </div>
  </header>
  <main>
    <!-- 页面内容将在此处插入 -->
    <h1>Market</h1>
    {% csrf_token %}
    <div>
      <p id="coin-item"></p>
    </div>
  </main>
  <footer>
    <!-- 页脚内容将在此处插入 -->
  </footer>
</body>

</html>