<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Reserves</title>
    {% load static %}
	<script src="https://code.jquery.com/jquery-3.6.4.js"
		integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
	<script src="{% static '/lib/fnlib.js' %}"></script>
	<script src="{% static '/proof/proof.js' %}"></script>
	<link rel="stylesheet" href="{% static '/proof/style.css' %}">
</head>
<body>
	<nav>
        <ul>
            <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
            <!-- <li><a id="trade" href="{% url 'trade' username='james' %}">Trade</a></li> -->
            <li><a id="proof" href="{% url 'proof'%}">Proof</a></li>
            <li id>
                <select id="currency">
                    <option value="binance">USD</option>
                    <option value="coinbase">JPY</option>
                    <option value="kraken">KRW</option>
                </select>
            </li>
            <li>
                <select id="language">
                    <option value="English">English</option>
                    <option value="Chinese">简体中文</option>
                    <option value="Korean">한국어</option>
                </select>
            </li>
            <li><a id="index" href="{% url 'index' %}" method="GET">Home</a></li>
        </ul>
    </nav>
    <main>
		<div id="up">
			<div>
				<coin-name>
					<name></name>
					<div>Ratio</div>
				</coin-name>
				<ratio></ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
		</div>
    </main>
</body>
</html>