<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Reserves</title>
    {% load static %}
	<script src="https://code.jquery.com/jquery-3.6.4.js"
		integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
	<script src="{% static '/lib/fnlib.js' %}"></script>
	<script src="{% static '/proof/proof.js' %}"></script>
	<link rel="stylesheet" href="{% static '/proof/style.css' %}">
</head>
<body>
	{% csrf_token %}
	<div id="username">{{ username }}</div>
    <main>
		<div id="up">
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances>101298173912</customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances>129310328139</exchange-balances>
			</div>
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
		</div>
		<div id="down">
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
			<div>
				<coin-name>
					<name>BTC</name>
					<div>Ratio</div>
				</coin-name>
				<ratio>120.42%</ratio>
				<div>Customer Net Balances</div>
				<customer-balances></customer-balances>
				<div>Binance Net Balances</div>
				<exchange-balances></exchange-balances>
			</div>
		</div>
    </main>
</body>
</html>