<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="{% static '/register/style.css' %}">
    {% if alert %}
    <script>
        alert("{{ alert }}");
        let data = {
            'alert': '{{ alert }}',
            'type': '{{ type }}'
        }
    </script>
    {% endif %}
    <script src="{% static '/register/register.js' %}"></script>
</head>

<body>
    <nav>
        <ul>
          <li><a href="#">Coins</a></li>
          <li><a href="#">Exchanges</a></li>
          <li><a href="#">Swap</a></li>
          <li><a href="#">USD</a></li>
          <li><a href="#">English</a></li>
        </ul>
    <form method="post">
        {% csrf_token %}
        <p>User name</p>
        <input name="username" id="name_input">
        <p>User password</p>
        <input type="password" name="userpassword" id="password">
        <p>User password again</p>
        <input type="password" name="userpassworda" id="passworda"><br>
        <button id="submit" name="submit">Submit</button>
        <button id="cancel" name="cancel">Cancel</button>
    </form>
    <div>
        <p>There is <strong>{{ count }}</strong> members in <strong>My Site</strong></p>
    </div>
</body>

</html>