<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static '/lib/fnlib.js' %}"></script>
    <script src="{% static '/tests/tests.js' %}"></script>
    <title>Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/nav/style.css' %}">
</head>
<body>
    <nav>
        <ul>
          <li><a href="#">Coins</a></li>
          <li><a href="#">Exchanges</a></li>
          <li><a href="#">Swap</a></li>
          <li><a href="#">USD</a></li>
          <li><a href="#">English</a></li>
        </ul>
    <div>
        <button id="test">{% csrf_token %}Test</button>
        <div id="1"></div>
    </div>
</body>
</html>