<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="#">Coins</a></li>
          <li><a href="#">Exchanges</a></li>
          <li><a href="#">Swap</a></li>
          <li><a href="#">USD</a></li>
          <li><a href="#">English</a></li>
        </ul>
    <h1>Transaction</h1>
    <div>
        <h1>Trade</h1>
        preparing...
    </div>
</body>
</html>