<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{% static '/lib/fnlib.js' %}"></script>
    <script src="{% static '/trade/trade.js' %}"></script>
    <link rel="stylesheet" href="{% static '/trade/style.css' %}">
</head>

<body>
    {% csrf_token %}
    <header>
        <div>
            <nav>
                <ul>
                    <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
                    <li><a id="trade" href="{% url 'trade' username=username %}">Trade</a></li>
                    <li><a id="proof" href="{% url 'proof' %}">Proof</a></li>
                    <li>
                        <select id="currency">
                            <option value="binance">USD</option>
                            <option value="coinbase">JPY</option>
                            <option value="kraken">KRW</option>
                        </select>
                    </li>
                    <li>
                        <select id="language">
                            <option value="English">English</option>
                            <option value="Chinese">简体中文</option>
                            <option value="Korean">한국어</option>
                        </select>
                    </li>
                    <li><a id="index" href="{% url 'index' %}" method="GET">Home</a></li>
                    <li>
                        <div id="username">{{ username }} </div>
                    </li>
                    <li id="user-info">
                        <a href="{% url 'usercenter' username=username %}" method="GET"> User Center </a>
                        <a href="{% url 'login' %}">Log Out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="backgroud">
        <div id="left">
            <p>Waiting Orders</p>
            <div id="sell">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="buy">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="mid">
            <div id="chart">
                <div id="time-button">
                    <button class="active">1s</button>
                    <button id="BTC-svg">BTC</button>
                    <button id="ETH-svg">ETH</button>
                    <button id="BNB-svg">BNB</button>
                    <button id="XRP-svg">XRP</button>
                </div>
                <div id="svg-title-symbol">BTC</div>
                <svg></svg>
            </div>
            <div id="operator">
                <div class="order-block">
                    <div class="order-block-left">
                        <div id="order-username">Order User - {{ username }}</div>
                        <div id="stock-name">
                            <div>NAME</div><input type="text">
                        </div>
                        <div id="quantity">
                            <div>QUANTITY</div><input type="text">
                        </div>
                        <div id="price">
                            <div>PRICE</div><input type="text">
                        </div>
                    </div>
                    <div class="order-block-right">
                        <button id="buy-btn">BUY</button>
                        <button id="sell-btn">SELL</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="trade-details">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>