<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="{% static '/lib/fnlib.js'%}"></script>
    <script src="{% static '/transaction/transaction.js' %}"></script>
    <link rel="stylesheet" href="{% static '/transaction/style.css' %}">
</head>

<body>
    {% csrf_token %}
    <div>
        <nav>
            <ul>
                <li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
                <li><a id="trade" href="{% url 'trade' username=username %}">Trade</a></li>
                <li><a id="proof" href="{% url 'proof' username=username %}">Proof</a></li>
                <li>
                    <select id="currency">
                        <option value="binance">USD</option>
                        <option value="coinbase">JPY</option>
                        <option value="kraken">KRW</option>
                    </select>
                </li>
                <li>
                    <select id="language">
                        <option value="English">English</option>
                        <option value="Chinese">简体中文</option>
                        <option value="Korean">한국어</option>
                    </select>
                </li>
                <li><a id="index" href="{% url 'index' %}" method="GET">Home</a></li>
                <li>
                    <div id="username">{{ username }} </div>
                </li>
                <li id="user-info">
                    <a href="{% url 'usercenter' username=username %}" method="GET">User Center</a>
                    <a href="{% url 'login' %}">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="body">
        <div class="content-title">Transaction</div>
        <wallet-block>
            <div class="wallet-content">
                <wallet>
                    <wallet-title>Send Out Wallet Address</wallet-title>
                    <wallet-adderss>
                        <div> Enter wallet address <input id="send-out-wallet-address" type="text"></div>
                        <div class="ewtitle">Your exchange wallet address<div>{{ wallet_address }}</div>
                        </div>
                    </wallet-adderss>
                </wallet>
                <wallet>
                    <wallet-title>Receive Wallet Address</wallet-title>
                    <wallet-adderss>
                        <div> Enter wallet address <input id="send-in-wallet-address" type="text"></div>
                        <div class="ewtitle">Your exchange wallet address
                            <div>{{ wallet_address }}</div>
                        </div>
                    </wallet-adderss>
                </wallet>
                <coin>
                    <coin-type-title>Coin Type</coin-type-title>
                    <coin-type>
                        <select>
                            <option>BTC</option>
                            <option>ETH</option>
                        </select>
                    </coin-type>
                    <amount-title>Coin Amount</amount-title>
                    <coin-amount>
                        <input id="coin-amount" type="text">
                    </coin-amount>
                </coin>
                <chain>
                    <chain-type-title>Chain</chain-type-title>
                    <chain-type>
                        <select>
                            <option>BTC</option>
                            <option>ETH</option>
                        </select>
                    </chain-type>
                </chain>
            </div>
        </wallet-block>
        <div id="buttons">
            <button id="confirm">Confirm</button>
            <button id="cancel">Cancel</button>
        </div>
        <div>
</body>
</html>