<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>User Center</title>
	{% load static %}
	<link rel="stylesheet" href="{% static '/usercenter/style.css' %}">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
				<li><a id="exchanges" href="{% url 'exchange' %}">Exchanges</a></li>
				<li><a id="swap" href="#">Swap</a></li>
				<li> <label for="exchange-dropdown">USD</label>
					<select id="exchange-dropdown">
						<option value="">Select an exchange</option>
						<option value="binance">USD</option>
						<option value="coinbase">JPY</option>
						<option value="kraken">KRW</option>
					</select>
				</li>
				<li>
					<label for="exchange-dropdown">English</label>
					<select id="exchange-dropdown">
						<option value="">Select an exchange</option>
						<option value="binance">English</option>
						<option value="coinbase">简体中文</option>
						<option value="kraken">한국어</option>
					</select>
				</li>
				<li><a id="index" href="{% url 'main' username=username %}" method="GET">Home</a></li>
				<li id="user-info">
					<div>User Name : {{ username }} </div>
					<a href="{% url 'usercenter' username=username %}" method="GET"> User Center </a>
				</li>
				<!-- <li><a id="english" href="#">English</a></li> -->
			</ul>
		</nav>
	</header>
	<nav>
		<h1>User Center</h1>
		<h3>{{ username }}</h3>
		<ul>
			<li><a href="{% url 'wallet' username=username %}">Wallet Management</a></li>
			<li><a href="{% url 'asset' username=username %}">Asset Verification</a></li>
			<li><a href="#transaction">Transaction</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="transaction-history">
			<h2>Transaction History</h2>
			<table>
				<thead>
					<tr>
						<th>Action</th>
						<th>Time Stamp</th>
						<th>Coin Wallet</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Deposit</td>
						<td>2023-03-05 10:00:00</td>
						<td>BTC</td>
					</tr>
					<tr>
						<td>Withdrawal</td>
						<td>2023-03-04 15:30:00</td>
						<td>ETC</td>
					</tr>
					<tr>
						<td>Transfer</td>
						<td>2023-03-03 20:45:00</td>
						<td>Luna</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="wallet">
			<h2>Wallet</h2>
			<table>
				<thead>
					<tr>
						<th>Coin Type</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ user_data.asset_type }}</td>
						<td>{{ user_data.asset_amount }}</td>
					</tr>
					<tr>
						<td>ETH</td>
						<td>10.23456789</td>
					</tr>
					<tr>
						<td>LTC</td>
						<td>100.00000000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>