<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>User Center</title>
	{% load static %}
	<script src="https://code.jquery.com/jquery-3.6.4.js"
		integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
	<script src="{% static '/lib/fnlib.js' %}"></script>
	<script src="{% static '/usercenter/usercenter.js' %}"></script>
	<link rel="stylesheet" href="{% static '/usercenter/style.css' %}">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
				<li><a id="exchanges" href="{% url 'exchange' %}">Exchanges</a></li>
				<li><a id="swap" href="#">Swap</a></li>
				<li>
					<!-- <label for="exchange-dropdown">USD</label> -->
					<select id="exchange-dropdown">
						<!-- <option value="">Select an exchange</option> -->
						<option value="binance">USD</option>
						<option value="coinbase">JPY</option>
						<option value="kraken">KRW</option>
					</select>
				</li>
				<li>
					<!-- <label for="exchange-dropdown">English</label> -->
					<select id="language">
						<!-- <option value="">Select an exchange</option> -->
						<option value="English">English</option>
						<option value="Chinese">简体中文</option>
						<option value="Korean">한국어</option>
					</select>
				</li>
				<li><a id="index" href="{% url 'main' username=username %}" method="GET">Home</a></li>
				<li id="user-info">
					<div id="username">{{ username }} </div>
					<a href="{% url 'usercenter' username=username %}" method="GET"> User Center </a>
				</li>
				<!-- <li><a id="english" href="#">English</a></li> -->
			</ul>
		</nav>
	</header>
	<main>
		<div>
			<nav id="inner-nav">
				<h1>User Center</h1>
				<ul>
					<li><a href="{% url 'transaction' username=username %}">Transaction</a></li>
					<li><a href="{% url 'asset' username=username %}">Verification</a></li>
					<li><a href="{% url 'wallet' username=username %}">Wallet Manage</a></li>
					<li><a href="#">Transaction History</a></li>
					<li><a href="{% url 'proof' username=username %}">Proof of Reserves</a></li>
				</ul>
			</nav>
		</div>
		<div class="container">
			<div class="transaction-history">
				<h2>Transaction History</h2>
				<table>
					<thead>
						<tr>
							<th>Action</th>
							<th>Time Stamp</th>
							<th>Coin Wallet</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>

</html>