<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Verifying Result</title>
</head>
<body>
    <h1>Verified Result</h1>
    <div id="user">
        <user>
            <id>用户ID</id>
            <name>用户名</name>
        </user>
    </div>
    <div>
        <ul>
            <li>Record ID</li>
            <li>Asset Coverge</li>
            <li>Account Code</li>
            <li>Merkle Tree</li>
            <li>Merkle Leaf</li>
            <li>Asset Name</li>
            <li>Asset Type</li>
        </ul>
    </div>
</body>
</html>