<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Verifying Result</title>
    <script src="{% static 'lib/fnlib.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'verifyresult/verifyresult.js' %}"></script>
    <link rel="stylesheet" href="{% static '/nav/style.css' %}">

</head>
<body>
    <header>
		<nav id="top-nav">
			<ul>
				<li><a id="coin" href="{% url 'coins' %}">Coins</a></li>
				<li><a id="exchanges" href="{% url 'exchange' %}">Exchanges</a></li>
				<li><a id="swap" href="#">Swap</a></li>
				<li> <label for="exchange-dropdown">USD</label>
					<select id="exchange-dropdown">
						<option value="">Select an exchange</option>
						<option value="binance">USD</option>
						<option value="coinbase">JPY</option>
						<option value="kraken">KRW</option>
					</select>
				</li>
				<li>
					<label for="exchange-dropdown">English</label>
					<select id="exchange-dropdown">
						<option value="">Select an exchange</option>
						<option value="binance">English</option>
						<option value="coinbase">简体中文</option>
						<option value="kraken">한국어</option>
					</select>
				</li>
				<li><a id="index" href="{% url 'main' username=username %}" method="GET">Home</a></li>
				<li id="user-info">
					<div>User Name : {{ username }} </div>
					<a href="{% url 'usercenter' username=username %}" method="GET"> User Center </a>
				</li>
				<!-- <li><a id="english" href="#">English</a></li> -->
			</ul>
		</nav>
	</header>
    <h1>Verified Result</h1>
    {% csrf_token %}
    <div id="user">
        <user>
            <h3 id="user-id">user_ID</h3>
            <h4 id="user-name">{{ username }}</h4>
        </user>
    </div>
    <div>
        <ul>
            <li id="time">Time</li>
            <li id="merkle_root_hash">merkle_root_hash</li>
            <li id="zk_proof">zk_proof</li>
            <li id="zk_verification_result">zk_verification_result</li>
            <li id="assets">assets</li>
            <li id="wallet_ID">wallet_ID</li>
            <li id="asset_type">asset_type</li>
            <li id="asset_amount">asset_amount</li>
        </ul>
    </div>
</body>
</html>