<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static '/lib/fnlib.js' %}"></script>
    <script src="{% static '/walletlogin/walletlogin.js' %}"></script>
    <link rel="stylesheet" href="{% static '/walletlogin/style.css' %}">
</head>

<body>
    <h1 id="title" class='title'>
        <div class="title1">Private Wallet Manage</div>
    </h1>
    <div class="input-form">
        <!-- <div class="tupian" class="tupiancss"> -->
        <!-- <img src="{% static '/login/img1.png' %}" alt="lightImageUrl" class="tupian"> -->
        <!-- </div> -->
        <form method="post">
            {% csrf_token %}
            <div id="user-title">User</div>
            <input type="text" id="username" name="username">
            <br>
            <div id="password-title">Password</div>
            <input type="password" id="userpassword" name="userpassword" autocomplete="off">
            <br>
            <div>
                <button id="login" name="login">Login</button>
                <button id="cancel" name="cancel">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>