<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
</head>
<body>
    <h1>Asset</h1>
    <h3>{{ username }}</h3>
    <table>
        <tr>
            <th>Wallet</th>
            <th>Amount</th>
            <th>Vertify</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>BTC</td>
            <td id="btc_amount">12390194</td>
            <td><button id="verify_btn">Verify</button></td>
            <td id="status"></td>
        </tr>
    </table>
</body>
</html>