<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/main/style.css' %}">
</head>
<body>
    <h1>MAIN PAGE</h1>
    <h3>{{ username }}</h3>
    <a href="{% url 'usercenter' username=username %}" method="GET"> User Center </a>
    <a href="/market"> Market </a>
    <a href=""> Exchange </a>
</body>
</html>