body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
/* 清除默认的浏览器样式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  nav {
	background-color: #fff;
	color: #333;
	height: 50px;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color:#333;
	height: 100%;
  }
  nav li {
	height: 100%;
  }
  
  nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	text-decoration: none;
	color: #333;
  }
  use 
  {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 20px;
	text-decoration: none;
	color: #333;
  }
  nav a:hover {
	background-color: #666;
  }
  
.container {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
}

.transaction-history table,
.wallet table {
	border-collapse: collapse;
	width: 100%;
}

.transaction-history th,
.transaction-history td,
.wallet th,
.wallet td {
	padding: 10px;
	text-align: left;
}

.transaction-history th,
.wallet th {
	background-color: #222;
	color: #fff;
}

.transaction-history tr:nth-child(even),
.wallet tr:nth-child(even) {
	background-color: #f2f2f2;
}
