body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

form {
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

div {
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
  color: #555;
}

strong {
  color: #4caf50;
}

/* 清除默认的浏览器样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 导航样式 */
/* 导航样式 */
nav {
  background-color: #fff;
  color: #333;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color:#333;
}

nav li {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #333;
}

select {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  border-style: none;
  outline: none;
  transition: 0.06s ease-in-out;
  background-color: #fff;
  color: #333;
}

select:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
